---
import Container from "./Container.astro";

const navLinks = [
  { name: "Products", href: "/" },
  { name: "Solutions", href: "/about" },
  { name: "Ressources", href: "/services" },
  { name: "Company", href: "/contact" },
];
---

<nav class="navbar" role="navigation" aria-label="Main navigation">
  <Container>
    <div class="nav-container">
      <div class="logo">
        <img src="/images/logo.png" alt="Aerospike logo" />
      </div>
      <div class="menu-icon">
        <img src="/images/menu.png" alt="Menu Icon" />
      </div>

      <ul class="nav-links">
        {
          navLinks.map((link) => (
            <li>
              <a href={link.href} class="nav-link">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>

      <div class="nav-actions">
        <a href="/contact" class="nav-link">Contact</a>
        <a href="/signup" class="nav-link">Login</a>
      </div>
    </div>
  </Container>
</nav>

<style>
  /* Layout + Positioning */
  .navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    padding: 11px 11px 0 0;
    background: transparent;
  }

  /* Flex container */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* Links section */
  .nav-links,
  .nav-actions {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  /* Typography / Color */
  .nav-link {
    color: var(--color-white);
    font-weight: 500;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  /* Logo sizing */
  .logo img {
    height: 32px;
  }

  .menu-icon {
    display: none;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .nav-links,
    .nav-actions {
      gap: 16px;
      display: none;
    }

    .menu-icon {
      display: block;
      cursor: pointer;
    }

    .nav-link {
      font-size: 0.95rem;
    }

    .logo img {
      height: 28px;
    }
  }

  @media (max-width: 560px) {
    .nav-container {
      gap: 10px;
    }
  }
</style>
