<h2>
  <slot />
</h2>

<style>
  h2 {
    color: var(--color-foreground);
    font-size: 48px;
    font-weight: 500;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
  }
  @media (max-width: 1024px) {
    h2 {
      font-size: 38px;
    }
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 28px;
    }
  }
</style>
