---
import Button from "../shared/Button.astro";
---

<section>
  <div class="content">
    <h1>Looking for a co-pilot?</h1>
    <p>Schedule 20mins with a Aerospike Field Engineer</p>
    <Button variant="secondary">Schedule Call</Button>
  </div>
</section>

<style>
  section {
    background: var(--color-primary);
    padding: 250px 0;
  }
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
</style>
