---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/shared/Navbar.astro";
import Hero from "../components/sections/Hero.astro";
import StrongFoundations from "../components/sections/StrongFoundations.astro";
import Footer from "../components/sections/Footer.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import CloudNavbar from "../components/shared/CloudNavbar.astro";
import Container from "../components/shared/Container.astro";
import YellowSection from "../components/sections/YellowSection.astro";
import Pricing from "../components/sections/Pricing.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <main style="z-index: 5; position: relative;">
    <Container>
      <CloudNavbar />
      <StrongFoundations />
      <Pricing />
    </Container>
    <YellowSection />
    <Footer />
  </main>
</Layout>
