<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Aerospike</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* ==========================================================================
     1. Font Face
  ========================================================================== */
  @font-face {
    font-family: "Tiempos";
    src: url("/fonts/TiemposHeadline-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  /* ==========================================================================
     2. CSS Variables
  ========================================================================== */
  :root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: #ffffff;
    --color-foreground: #1a1a1a;
    --color-primary: #fdec2f;
    --color-primary-foreground: #1a1a1a;
    --color-secondary: #152d54;
    --color-secondary-foreground: #ffffff;
    --color-subtle-text: #b4b4b4;
    --color-border: #b4b4b4;
    --color-muted: #b4b4b4;
    --color-muted-foreground: #393939;
    --color-success: #6fffa9;
    --color-info: #66b9ff;
  }

  /* ==========================================================================
     3. CSS Reset
  ========================================================================== */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  html,
  body {
    background-color: var(--color-background);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-foreground);
  }

  /* ==========================================================================
     4. Typography
  ========================================================================== */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Tiempos", serif;
  }

  h1 {
    font-size: clamp(2rem, 2vw, 3.75rem);
    font-weight: 500;
  }

  p {
    font-size: clamp(1rem, 2vw, 1.125rem);
  }
</style>
